<html>
  <main>
    <style>
      .main {
        background: url("");
      }

      button {
        position: absolute bottom right;
  			right: 0;
  			bottom: 0;
  			left: 0;
  			padding: 1rem;
        border-radius: 8px;
        border: 2px solid black;
    		color: black;
    		padding: 15px 32px;
    		text-align: center;
    		text-decoration: none;
    		display: inline-block;
        font-size: 16px;
      }

      button:hover {background-color: white;}

      button:active {
        background-color: grey;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

      h1 {
        background: teal;
        font: "Garamond", "Roboto", sans-serif;
        font-size: 20px;
      }

      h2 {
        font: "Garamond", "Roboto", sans-serif;
        font-size: 15px;
      }

      h3 {
        font: "Garamond", "Roboto", sans-serif;
        font-size: 15px;
      }

      h4 {
        font: "Garamond", "Roboto", sans-serif;
        font-size: 15px;
      }

      img {
        border-radius: 8px;
      }
    </style>
    <div class="aboutme">
      <h1>Laron R. Lemon</h1>
      <img src="" alt="Laron Lemon"/>
      <!-- About Me Text container -->
        <div class="container">
          <h2>Background:</h2>
          <ul>
            <li>Employment- Technical Support, Legal, Health Insurance, Legal, Credit Card, and Construction</li>
            <li>Education- High School, some college, and online courses</li>
          </ul>
          <h3>Goals:</h3>
          <ul>
            <li>Gain work experience with front end and back end software and web development; obtain a position as a software engineer within 5 years.</li>
            <li>Global Travel</li>
            <li>Study Computer Science and Engineering</li>
          </ul>
          <h4>Technical Skills:</h4>
          <ul>
            <li>SQL, Python, JavaScript, Ruby on Rails, and Haskell (novice); HTML, CSS and SASS</li>
            <li>Computer and Network Troubelshooting</li>
            <li>Proficiency with Microsoft Office Suite, including Access Database</li>
          </ul>
        </div>
    </div>
    <!-- Button to Portfolio page -->
      <button type="button"><a href="/portfolio" alt="">View my Work</a></button>
  </main>
</html>
